################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/DotNetty/bin/Debug
/DotNetty/obj
/src/DotNetty/bin/Debug
/src/DotNetty/obj
/examples/Discard.Client/obj
/examples/Discard.Server/obj
/examples/Echo.Client/obj
/examples/Echo.Server/obj
/examples/Examples.Common/obj
/examples/Factorial/obj
/examples/Factorial.Client/obj
/examples/Factorial.Server/obj
/examples/HttpServer/obj
/examples/QuoteOfTheMoment.Client/obj
/examples/QuoteOfTheMoment.Server/obj
/examples/SecureChat.Client/obj
/examples/SecureChat.Server/obj
/examples/Telnet.Client/obj
/examples/Telnet.Server/obj
/examples/WebSockets.Client/obj
/examples/WebSockets.Server/obj
/src/DotNettyAll/bin
/src/DotNettyAll/obj
/test/DotNetty.Buffers.Tests/obj
/test/DotNetty.Codecs.Http.Tests/obj
/test/DotNetty.Codecs.Mqtt.Tests/obj
/test/DotNetty.Codecs.Protobuf.Tests/obj
/test/DotNetty.Codecs.ProtocolBuffers.Tests/obj
/test/DotNetty.Codecs.Redis.Tests/obj
/test/DotNetty.Codecs.Tests/obj
/test/DotNetty.Common.Tests/obj
/test/DotNetty.Handlers.Tests/obj
/test/DotNetty.Microbench/obj
/test/DotNetty.Tests.Common/obj
/test/DotNetty.Tests.End2End/obj
/test/DotNetty.Transport.Libuv.Tests/obj
/test/DotNetty.Transport.Tests/obj
/test/DotNetty.Transport.Tests.Performance/obj
